/* *{ 
    margin: 0;
    padding:0;
    box-sizing:border-box;  
}  */

.container { 
    width: 1500px; 
    height: 800px;
    display: grid;  
    grid-template-columns: 1fr 10fr 10fr 1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr; 
    grid-template-rows: 2fr  2fr 3fr 1fr 5fr 2fr 2fr 2fr 2fr;
    gap: 3px;
}

.container > DIV {  
    width: 100%;
}
   

body { 
    background-color: rgb(188, 227, 245);;
}


h1{ 
    color: rgb(57, 108, 218);
    font-size: 150px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;  
    grid-row: 1;
    grid-column: 2/ 12; 
    margin: 0;  
    width: 100%;
}

/* #stand1{ 
    height: 20px;
    width: 100px; 
    border: 1px solid saddlebrown;
    background-color:saddlebrown;
} */

.game { 
    /* position:absolute; */
    top: 1 rem; 
    /* left: 50%;  */
    width: 700px;
    height: 600px; 
    background: rgb(25, 125, 192);
    border-left: 19px solid rgb(43, 163, 163);
    border-bottom: 19px solid rgb(43, 163, 163);
    border-right: 19px solid rgb(43, 163, 163);   
    grid-column: 2 / 5;
    grid-row: 2 / 6;   
    padding-left: 22px; 
    /* border-collapse: separate;
    border-spacing: 40px!important; */
} 

table { 
    border-collapse: separate;
    border-spacing: 10px!important;
}

.slot{ 
    width: 28px; 
    height: 28px; 
    background: rgb(190, 192, 201); 
    padding: 30px;
    border-radius: 50%;  
}

.slot:hover { 
    cursor: pointer;
}

.reset { 
    /* top: 95vh; 
    left: 50%;  */
    border: 1px solid black;  
    height: 4rem;
    text-align: center; 
    cursor: pointer; 
    background-color: rgb(97, 198, 223); 
    font-size: 40px;  
    font-weight: lighter;
    grid-column: 7/ 10;
    grid-row: 5;  
} 
 
#p1 { 
    width: 135px; 
    height: 135px; 
    border-radius: 50%; 
    background-color: rgb(19, 73, 134); 
    border: 1px solid black; 
    margin: 15px;
    display: flex;
    grid-row: 3; 
    grid-column: 7;
} 

#p2 { 
    width: 135px; 
    height: 135px; 
    border-radius: 50%; 
    background-color: rgb(225, 229, 247);
    border: 1px solid black;
    margin: 15px;
    display: flex; 
    grid-row: 3; 
    grid-column: 9;
} 

.player-turn{ 
    font-size: 46px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
    text-align: center;
    grid-row: 2;
    grid-column: 7 / 10 ;
} 

.active1 { 
    border: 1px solid black; 
    height: 170px;
    width: 150px; 
    grid-row: 3; 
    grid-column: 7;
} 

.active2 { 
    border: 1px solid black; 
    height: 170px;
    width: 150px; 
    grid-row: 3; 
    grid-column: 9;
}


  
/* .modal1 { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(225, 229, 247);
    background-color: rgb(225, 229, 247, 0.4);
}


.modal2 { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(19, 73, 134); 
    background-color: rgb(19, 73, 134, 0.4); 
} 


.modal3 {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content1 { 
    background-color: rgb(19, 73, 134);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%;  
}

.modal-content2 { 
    background-color:rgb(225, 229, 247);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}

.modal-content3 { 
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}

#modalMessage1 { 
    color: rgb(225, 229, 247); 
    font-size: 25px;
}

#modalMessage2 { 
    color:rgb(19, 73, 134); 
    font-size: 25px;
} 

#modalMessage3 { 
    color: rgb(0, 0, 0); 
    font-size: 25px;
}



  
  /* The Close Button */
/* .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
 */ 



/* #turn{ 
    display: inline-block; 
} */

