.container { 
    width: 1500px; 
    height: 1300px;
    display: grid;  
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr 2fr 2fr 2fr 1fr 2fr 2fr 2fr 2fr; 
    grid-template-rows: 4fr 1fr 1fr 2fr 1fr 3fr 2fr 2fr 2fr;
}

.container > DIV {  
    width: 100%;
}
   
body { 
    background-color: rgb(188,232,246);
}

h1 { 
    color: rgb(95,109,225);
    font-size: 150px;
    font-family:'Roboto', sans-serif;
    font-weight:400;
    grid-row: 1;
    grid-column: 2 / 12; 
    margin: 0;   
    margin-left: 120px;
    width: 100%;
}

#winner { 
    width: 73px; 
    height: 73px; 
    border-radius: 50%; 
    border: 1px solid black; 
    display: none;
    grid-column: 3; 
    grid-row: 2; 
    margin-top: 67px;
    align-items: flex-end; 
    transform: translate(46px);
}

#message { 
    font-size: 49px; 
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    display: none;
    grid-column: 4;
    grid-row: 2; 
    text-align: center;  
    transform: translate(46px);
}

.game { 
    top: 1 rem; 
    width: 00px;
    height: 600px; 
    background: rgb(25, 125, 192);
    border-left: 19px solid rgb(58,163,177);
    border-bottom: 32px solid rgb(58,163,177);
    border-right: 19px solid rgb(58,163,177);   
    grid-column: 2 / 6;
    grid-row: 3/ 6;   
    padding-left: 2px;  
    padding-bottom: 40px; 
    transform: translate(130px, 0%);

} 

table { 
    border-collapse: separate;
    border-spacing: 18px!important;
}

.slot { 
    width: 36px; 
    height: 33px; 
    background: rgb(196,196,196); 
    padding: 24px;
    border-radius: 50%;  
}

.slot:hover { 
    cursor: pointer;
}

.reset { 
    border: 2px solid black;  
    height: 5rem; 
    width: 19rem;
    text-align: center; 
    cursor: pointer; 
    background-color: rgb(72,205,223); 
    font-size: 37px;  
    font-weight: lighter;
    grid-column: 9 / 12;
    grid-row: 5;   
    font-family: 'Roboto', sans-serif; 
    font-weight: 350;
    transform: translate(110px, -40%);
} 
 
#p1 { 
    width: 155px; 
    height: 155px; 
    border-radius: 50%; 
    background-color: rgb(51,82,128); 
    border: 1px solid black; 
    margin: 15px;
    display: flex;
    grid-row: 4; 
    grid-column: 9;
    transform: translate(76px , 40%);
} 

#p2 { 
    width: 155px; 
    height: 155px; 
    border-radius: 50%; 
    background-color: rgb(223,244,255);
    border: 1px solid black;
    margin: 15px;
    display: flex; 
    grid-row: 4; 
    grid-column: 11;
    transform: translate(-30px , 40%);
} 

.player-turn { 
    font-size: 60px;
    font-weight: 400;  
    font-family:'Roboto', sans-serif;
    text-align: center;
    grid-row: 3;
    grid-column: 9/ 12 ;  
    transform: translate(20px, 140%);
} 

.active1 { 
    border: 1px solid black; 
    height: 185px;
    width: 175px; 
    grid-row: 4; 
    grid-column: 9; 
    transform: translate(74px , 34%);
} 

.active2 { 
    border: 1px solid black; 
    height: 185px;
    width: 175px; 
    grid-row: 4; 
    grid-column: 11;
    display: none;
    transform: translate(-30px , 34%);
} 

#shadow { 
    grid-column: 4 / 12; 
    grid-row: 6; 
    border-radius: 50%;
    background-color: rgba(136, 134, 134, 0.7); 
    height: 69px; 
    transform: translate(0px , -40%) rotate(-2deg);
}

#stand1 { 
    border: 1px solid saddlebrown; 
    background-color:saddlebrown; 
    width: 10px; 
    height: 220px; 
    grid-row: 5 ;
    grid-column: 2;
    display: inline-flex;
    transform: rotate(20deg) translate(210px , 31%);
} 

#stand2{ 
    border: 1px solid saddlebrown;
    background-color:saddlebrown; 
    width: 10px; 
    height: 110px;
    grid-row: 6;
    grid-column: 2;
    display: inline-flex; 
    transform: rotate(-19deg) translate(250px , -10%);
}

#stand3{ 
    border: 1px solid saddlebrown;
    background-color:saddlebrown; 
    width: 10px; 
    height: 230px;
    margin-right: 40px;
    grid-row: 5;
    grid-column: 6;
    display: inline-flex; 
    transform: rotate(19deg) translate(65px, 53%);
} 

#stand4 { 
    border: 1px solid saddlebrown;
    background-color:saddlebrown; 
    width: 10px; 
    height: 115px;
    grid-row: 6;
    grid-column: 6;
    display: inline-flex;
    transform: rotate(-29deg) translate(128px , -30%);
}
